<h1>Editing User</h1>
<% @user.password = @user.password_confirmation = nil %>

<% form_for(@user, :html=> {:multipart=>true}) do |f| %>
  <%= f.error_messages %>
  
<p><%= f.label 'name' %><br/>
  <%= f.text_field :name %></p>
      
  <p><%= f.label 'email' %><br/>
  <%= f.text_field :email %></p>
      
  <p><%= f.label 'password' %><br/>
  <%= f.password_field :password %></p>
      
  <p><%= f.label 'password_confirmation', 'Confirm Password' %><br/>
  <%= f.password_field :password_confirmation %></p>
      
  <p><%= f.label 'image' %><br/>
  <%= f.file_field(:getimage, :accept => 'image/png,image/gif,image/jpeg') %>
  <p>
    <%=  f.submit "Update" %>
  </p>
<% end %>

<br/>

<%= link_to 'Show', @user %>
|
<%= link_to 'Back', users_path %>