<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= (controller.controller_name).capitalize %>: <%= (controller.action_name).capitalize %></title>
    <%= stylesheet_link_tag 'florida' %>
  </head>
  <body>
    <div id="header">
      <h1><%= link_to "Blog", home_path %></h1>
      <p>Beta :)</p>
      <ul id="toolbar">
        <li id="user-bar"><%= render :partial => "users/user_bar" %></li>
      </ul>
    </div>
    
    <div id="content">
      <%= yield %>
    </div>
    
    <div id="footer"></div>
  </body>
</html>